version: "1.0"

services:
  backend:
    image: shaikriyaz668/notice-board-backend:1.0
    ports:
      - "7000:7000"
    env_file:
      - .env

  frontend:
    image: shaikriyaz668/notice-board-frontend:1.0
    ports:
      - "5173:5173"
    depends_on:
      - backend
